@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    background-color: #FAF0E9;


.slotArea{
    background-color: transparent;
}
    
}


#app{
    display: flex;
    padding: 0;
    margin: 0;  // 確保沒有多餘的 margin
    
}